*{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    body{
        background-color: #FFE1FF;
         font-family: "Inter", sans-serif;
        color: #8C0774;
    }

    .container{
        display:flex;
        
    }

    #side-bar{
        display: flex;
        background-color: #FDCDFF;
        width: 300px;
        min-height: 100vh;
    }

    #menu{
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 50px;
        padding: 200px 0 40px 50px; 
    }

    .itens-menu{
        display: flex;
        align-items: center;
        gap: 15px;      
    }

    .itens-menu a{
        font-size: 25px;
        font-family: "Inter", sans-serif;
        font-weight: bold;
        color: #8C0774;
        text-decoration: none;
    }

    #menu-user{
        display: flex;
        flex-direction: row;
        margin: 30px 30px;

        gap: 90vh;
    }

    #user-login{
        margin-top: 25px;
        display: flex;
        gap: 15px;
    }

    #user-login p{
        margin-top: 25px;
    }

    #mensagem{
        font-size: 25px;
        margin-left: 5vh;
        margin-top: 5vh;
    }

    #card-menu{
        display: grid;
        margin-left: 12vh;
        grid-template-columns: 2fr 2fr 2fr;
        gap: 8vh;
        margin-top: 5vh;
    }

    #card-layout{
        max-width: 300px;
        min-height: 167px;
        border-radius: 15px;
        background-color: #FEFCFE;
    }

    #img-card{
       display: flex;
       justify-content: center;
       align-items: center;
    }

    #baixo{
        margin-top: 15px;
    }

     #venda-layout{
        background-color: #FFFFFF;
        width: 95%;
        height: 68vh;
        border-radius: 15px;
        margin-left: 30px;
       
    }

    #venda-itens{
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

     #venda-itens a{
        margin-top: 25px;
     }

    #barra-procura{
        min-width: 389px;
        height: 40px;
        background-color: #E5E5E5;
        border-radius: 15px;
        border-style: none;
        cursor: pointer;
        margin-top: 15px;
        margin-left: 20px;
    }

    #inf-produtos{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
        margin-top: 5px;
        margin-left: 15px;
    }

    #inf-produtos p{
        font-size: 15px;
        font-weight: bold;
    }

    #inf-produtos input{
        text-align: center;
        
    }

    #inf-estoque{
        width: 79px;
        height: 32px;
        border-radius: 15px;
        background-color: #D9D9D9;
        border-style: none;
    }

    #btn-action{
        margin-top: 10px;
        margin-left: 15px;
    
    }

    .btn-efect:hover{
        transform: translateY(-3px);
    }

    #tela-estilizada table{
        
        width: 100%;
        border-collapse: collapse;
        
        margin: 20px 0;
    }

    #tela-estilizada th, td{

        border: 1px solid;
        border-radius: 5px;

    }

    #tela-estilizada td{
        text-align: center;
    }

    #tela-estilizada thead{
        background-color: #D9D9D9;
        font-weight: bold;
    }

    #valor-layout{
        display: flex;
        flex-direction: row;
        margin-left: 60%;
        margin-top: 27%;
    }

    #btn-pg-layout button{
        width: 244px;
        height: 40px;
        border-radius: 10px;
        border-style: none;
        background-color: #FFE1FF;
        font-weight: bold;
        font-size: 25px;
        color: #8C0774;
        margin-left: 74%;
        margin-top: 15px;
        cursor: pointer;
    }

    #menu-vend-layout{
        margin-left: 5%;
    }

 