<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>AtrativaShore - Vendas</title>
</head>
<body>
      
    <main class="container">
    <aside id="side-bar">
        
        <div id="menu">
            <div class="itens-menu">
                <span><img src="/public/css/icons/home.svg" alt=""></span>
                <a href="/views/Menu/Menu.html">INICIO</a>
            </div>

            <div class="itens-menu">
                <span><img src="/public/css/icons/caixa.svg" alt=""></span>
                <a href="">CAIXA</a>
            </div>

             <div class="itens-menu">
                <span><img src="/public/css/icons/vendas.svg" alt=""></span>
                <a href="/views/Menu/Venda.html">VENDAS</a>
            </div>

             <div class="itens-menu">
                <span><img src="/public/css/icons/produtos.svg" alt=""></span>
                <a href="">PRODUTOS</a>
            </div>

             <div class="itens-menu">
                <span><img src="/public/css/icons/cliente.svg" alt=""></span>
                <a href="">CLIENTES</a>
            </div>

             <div class="itens-menu">
                <span><img src="/public/css/icons/relatório.svg" alt=""></span>
                <a href="">RELATÓRIOS</a>
            </div>

        </div>

    </aside>

    <div class="menu">

        <div id="menu-user">
            <img src="/public/css/icons/logo/logo.svg" alt="Logo">

            <div id="user-login">
                <a href="/Menu/Menu.html"> <img src="/public/css/icons/Info-user/user.svg" alt="user"> </a>
            
                <p>USUÁRIO</p>
            </div>
         </div>

        <div id="menu-vend-layout"> 
         <div id="mensagem">
            <h1>VENDAS</h1>
         </div>

         <div id="venda-layout">
            <div id="venda-itens">
                <input id="barra-procura" placeholder="    Procure Aqui..." type="text">
                
                <a href=""><img class="btn-efect" src="/public/css/icons/botaoadd.svg" alt=""></a>
                <a href=""><img class="btn-efect" src="/public/css/icons/qrcode.svg" alt=""></a>

                <div id="inf-produtos">
                    <p>ESTOQUE</p>
                    <input id="inf-estoque" type="number">
                </div>

                
                <div id="inf-produtos">
                    <p>QUANTIDADE</p>
                    <input id="inf-estoque" type="number">
                </div>
                
                
                <div id="inf-produtos">
                    <p>VALOR</p>
                    <input id="inf-estoque" type="number">
                </div>

                <div id="btn-action">
                    <a href=""><img class="btn-efect" src="/public/css/icons/troca.svg" alt=""></a> <br>
                    <a href=""><img class="btn-efect" src="/public/css/icons/desconto.svg" alt=""></a>

                </div>
            </div>

            <div id="tela-venda">

                <div id="tela-estilizada">
                    <table>
                         <thead>
                            <tr>
                                <th>PRODUTO</th>
                                <th>QUANTIDADE</th>
                                <th>VALOR</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>BLUSA</td>
                                <td>3</td>
                                <td>R$3,00</td>
                            </tr>

                        </tbody>

                    </table>
                </div>

            </div>
            
            <div id="valor-layout">
                    <h1>VALOR TOTAL:</h1>
                    <input type="text">
            </div>

            <div id="btn-pg-layout">
                <button class="btn-efect" type="submit">FINALIZAR VENDA</button>
             </div>

        </div>

            
         </div>
</body>
</html>