    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    body{
        background-color: #FFE1FF;
         font-family: "Inter", sans-serif;
        color: #8C0774;
    }

    .container{
        display:flex;
        
    }

    #side-bar{
        display: flex;
        background-color: #FDCDFF;
        width: 300px;
        min-height: 100vh;
    }

    #menu{
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 50px;
        padding: 200px 0 40px 50px; 
    }

    .itens-menu{
        display: flex;
        align-items: center;
        gap: 15px;      
    }

    .itens-menu a{
        font-size: 25px;
        font-family: "Inter", sans-serif;
        font-weight: bold;
        color: #8C0774;
        text-decoration: none;
    }

    #menu-user{
        display: flex;
        flex-direction: row;
        margin: 30px 30px;

        gap: 90vh;
    }

    #user-login{
        margin-top: 25px;
        display: flex;
        gap: 15px;
    }

    #user-login p{
        margin-top: 25px;
    }

    #mensagem{
        font-size: 25px;
        margin-left: 5vh;
        margin-top: 5vh;
    }

    #card-menu{
        display: grid;
        margin-left: 12vh;
        grid-template-columns: 2fr 2fr 2fr;
        gap: 8vh;
        margin-top: 5vh;
    }

    #card-layout{
        max-width: 300px;
        min-height: 167px;
        border-radius: 15px;
        background-color: #FEFCFE;
    }

    #img-card{
        display: flex;
        justify-content: center;
        align-items: center;
    }